/*body*/
html {
    box-sizing: border-box;
    font-size:62.5%; /**reset para REMS - 62.5% = 10px de 16px **/
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-family: 'PT Sans', sans-serif;
    line-height: 2; /* establece la altura de la linea*/
}
/** global**/

.contenedor{
    max-width: 1200px;/** 1200 px **/
    width:95%; /* deja un margen del contenedor para que no estè muy pegado los bordes*/
    margin: 0 auto;

  }
  h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
  }
  h1{
    font-size: 4.8rem;
  }
  
  h2{
    font-size: 4.0rem;
    line-height: 1.2;
  }
  
  h3{
    font-size: 3.2rem;
  }
  
  h4{
    font-size: 2.8rem;
  }
  img {
      max-width: 100%;
  }
  /** utilidades*/

  .centrar-texto{
    text-align: center;
  }
  .no-margin{
    margin: 0;
  }
  /*grid*/

  @media (min-width:768px){
    .grid{
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap; /* si los elementos flexibles se deben ajustar */
      
    }
    .centrar-columnas{
      justify-content: center;
    }
  
    .columnas-4{
      flex: 0 0 calc(33.3% - 1rem);

    }
    .columnas-6{
      flex: 0 0 calc(50% - 1rem);
    }
    
    .columnas-8{
      flex: 0 0 calc(66.6% - 1rem);

    }
    .columnas-10{
      flex: 0 0 calc(83.3% - 1rem);
    }
    .columnas-12{
      flex: 0 0 100%;
    }
  }

  /* botones */

  .btn {
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    margin: 2rem 0;
    color:#ffffff;
    text-decoration:none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    flex: 0 0 100%;


  }
  .btn:hover{
    cursor: pointer;
  }
  @media (min-width:768px){
    .btn{
      display:inline-block; /* permite establecer un ancho y un alto tomado por el padding del btn */
      flex: 0 0 auto;
    }
  }

  .btn-primario {
    background-color: #000000;

  }
  .btn-secundario{
    background-color: #784d3c;
    
  }

  /*header*/
  @media (min-width:768px){
    .barra{
      display:flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .site-header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 60rem;
    
  }
  .site-header a{

    color:#ffffff;
    text-decoration: none;
  }
 
  .site-header h1{
    text-align-last: center;
    font-weight: 400;
    }

    .site-header h1 span{
      font-weight:700;
    }

    /*navegación*/

    .navegacion a {
      text-align:center;
      display:block;
      font-size: 1.8rem;
      color:#ffffff;
      text-decoration: none;
    }
    @media (min-width:768px ) {
      .navegacion a {
        display: inline;
        margin-right: 9px;
      }
      .navegacion a:last-of-type{
        margin: 0;
      }
    }
    /*header text*/
    .text-header{
      color:#ffffff;
      text-align:center;
      margin-top: 5rem;
    }
    @media (min-width: 768px) {
      .text-header{
        margin-top: 15rem;
      }
    }
    .text-header p{
      font-size: 2.2rem;
    }
    /* Contenido Principal Home*/
    .contenido-principal{
      display: flex;
      flex-wrap: wrap;
    }
.blog,
.cursos{
 /* flex-grow: 0; propiedad especifica cuánto crecerá el artículo en relación con el resto de los artículos flexibles dentro del mismo contenedor
  flex-shrink: 0; propiedad especifica cómo se reducirá el elemento en relación con el resto de los elementos flexibles dentro del mismo contenedor
  flex-basis: 100%; propiedad especifica la longitud inicial de un elemento flexible*/
  flex: 0 0 100%; 
}
.cursos{
  order: -1; /* cambia el orden, primero iria cursos y luego blog*/
}
@media (min-width: 768px) {
  .contenido-principal{
    justify-content: space-between;
  }

  .blog{

  flex-basis: 60%;

  }
  .cursos{

  flex-basis: calc(40% - 4rem);
  order: 2;
  }
}
/* Un estilo diferente que puede usarse
  .entrada-blog{
    display: flex;
    justify-content: space-between;
  }
  .entrada-blog .imagen{

    flex: 0 0 40%;

  }
  .entrada-blog .contenido-blog{

    flex: 0 0 calc(60% - 2rem);
  }*/
  /* opcional*/
  .entrada-blog{
    margin-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;
  }
  .entrada-blog:last-of-type{
    border:none;
  }
  .curso-lista {
    padding: 0;
    list-style: none;
  }
  .curso{
    border-bottom: 1px solid #e1e1e1;
    padding: 3rem;
  }
  .curso:last-of-type{
     border:none;
  }
  .curso p{
    font-family: 'PT Sans', sans-serif ;
    font-weight: 700;

  }
  .curso p span,
  .curso p.descripcion {
  font-weight: 400;
  }

  /*footer*/

  .site-footer{
    background:#000000;
    color:#ffffff;
    padding: 3rem;
    margin-top: 4rem;
  }
  .site-footer p{
    color:#ffffff;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
  }
  .site-footer p span{
    font-weight:700;
  }

  /* Formulario Contacto */

  .formulario-contacto {
    background-color: #ffffff;
    padding: 5rem;
  }

  @media (min-width:768px){
    .formulario-contacto {
        margin-top: -10rem;
       }
    }
  
    .formulario-contacto .campo {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
    .formulario-contacto .campo label {
      flex: 0 0 8rem;
    }
    .formulario-contacto .campo input:not([type="submit"]),
    .formulario-contacto textarea {
      flex: 1;
      border: 1px solid #e1e1e1;
      padding: 1rem;
    }
    .formulario-contacto textarea{
      height: 20rem;
    }
    .formulario-contacto .enviar{
      display: flex;
      justify-content: flex-end;
    }
  

